 @media (max-width:1400px){
        .screen_only {
            display: none
        } 
        .reduce-font-size{
            font-size: 1em;
        } 
        .increase-font-size{
            font-size: 2.25em;
        }       
      }

body
{
    background-color: sandybrown;
    font-family: 'Times New Roman', Times, serif;
}

/*element selector*/
h1{
background-color: #000000;
text-align: center;
}

h2{
    font-size: 2em;
    text-decoration: underline;
}
li{
    font-size: 1.25em;
}
h3, td, ul, p{
    font-size: 1.5em;
}


p{
    font:bold;
}

a
{
    font-size: 1.1em;
    font-family: "Century Gothic", Helvetica, sans-serif;
}

p
{
    font-family: "Century Gothic", Helvetica, sans-serif;
    font-size: 1.1em;
}

img {
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 1.5px
  }


form {
    font-family: "Cenutry Gothic", Helvetica, sans-serif;
    width: 35%;
    padding: 8px 20px;
    margin: 8px 0;
    border: .5px solid #ccc;
    box-sizing: border-box;
}

input[type=text],[type=password] 
{
    width: 25%;
    padding: 8px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: width 0.4s ease-in-out;
}


input[type=text]:focus {
    width:40%
  }
 
input[type=password]:focus {
    width:40%
  }
  

input[type=submit] {
    width: 15%;
    background-color: #fb742d;
    color: white;
    padding: 8px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #c05a23;
  }



/*class selector, applies to all elements using class attribute class='underline'
i.e. <h1 class="underline"> Title </h1> */

.underline{
    text-decoration: underline;
    text-align: left;
}


/*class selector, applies to all elements using id attribute id='black'
i.e. <h1 id="heading"> Title </h1> */

#heading {
    background: black;
    text-align: center;
    font-size: 24em;
}
